bot_path
llvm*.bottle.*.tar.gz
rust-*.bottle.*.tar.gz
message.txt
tmpBot
tmpbot
tobe.bot
tobe.run
tobe.install
tobe.move
nohup.out
ghc-*.bottle.*.tar.gz
arangodb*
bitcoin-*.tar.gz
bit-*.tar.gz
cling-*.tar.gz 
fits-*.tar.gz
ghc-*.tar.gz
fstar*.tar.gz 
augustus-*.tar.gz
emboss-*.tar.gz
kent-tools-*.tar.gz
mitofy*.tar.gz
openbr*.tar.gz
repeatmasker-*.tar.gz
gap-*.gz
transdecoder-*.tar.gz
humann2-*.tar.gz
joshua-*.tar.gz
mingw-w64-*.tar.gz
mitie-*.tar.gz
mysql*.tar.gz
amos*.tar.gz
util-linux-*.tar.gz
